@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=New+Rocker&display=swap');


#content {
   max-width: 1600px;
   margin: 0    auto;
}
nav a  {
    text-align: center;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msh h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
}
body {
    background-color: aqua; 
    font-family: 'New Rocker', cursive;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:#0077b6;
}
nav a:hover {
    background-color: aqua;
}
.book {
    background-color: aqua
}
.join {
    background-color: #0077b6
}
.book:hover {
    background-color: aqua;
}
.join:hover {
    background-color: aqua;
}
#background {
    background-color: #0077b6;
}
.msg {
    background-color: aliceblue;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: aqua;
    padding: 25px 50px;
    margin-top: 200px;
}  
nav a {
    color: aqua;
}
nav a:hover {
    color: aliceblue;
}
.home-title {
    color: #0077b6;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h2 {
    margin: 0;
}
h4 {
    color: #0077b6;
}
.book {
    color: aqua;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    color: aqua;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
.book:hover {
    color: aliceblue;
}
 .join:hover {
    color: aliceblue;
 }
.msg h2 {
    color: #0077b6;
    font-family: 'Lato', sans-serif;
}
.msg p {
    color: #0077b6;
    font-size: 2em;
    padding-bottom: 15px;
}
.rivers-card{
    margin: 200px 0;
}
.camping-card{
    margin: 200px 0;
}
.rapids-card{
    margin: 200px 0;
}
footer h3 {
    color: #0077b6;
}
footer a {
    color: #0077b6;
}
footer a:hover{
    color: aliceblue;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;

}    
.book {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 15px 30px;
}    
.join {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 15px 30px;
}    
footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;

}    
footer p {
    font-size: 1.2em;
}  
footer p a:hover {
    text-decoration: underline;
} 
footer .social img { 
 padding-top: 15px;
}
