}
#content {
   max-width: 1600px;
   margin: 0    auto;
}
nav a  {
    text-align: center;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msh h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: aqua; 
}
header {
    background-color:#0077b6;
}
nav a:hover {
    background-color: aqua;
}
.book {
    background-color: aqua
}
.join {
    background-color: #0077b6
}
.book:hover {
    background-color: aqua;
}
.join:hover {
    background-color: aqua;
}
#background {
    background-color: #0077b6;
}
.msg {
    background-color: aliceblue;
}
footer {
    background-color: aqua;
}  
nav a {
    color: aqua;
}
nav a:hover {
    color: aliceblue;
}
.home-title {
    color: #0077b6;
}
h4 {
    color: #0077b6;
}
.book {
    color: aqua;
}
.join {
    color: aqua;
}
.book:hover {
    color: aliceblue;
}
 .join:hover {
    color: aliceblue;
 }
.msg h2 {
    color: #0077b6;
}
.msg p {
    color: #0077b6;
}
footer h3 {
    color: #0077b6;
}
footer a {
    color: #0077b6;
}
footer a:hover{
    color: aliceblue;
}
.icon {
    width: 80px;
}
.logo {
    width: 80px;
}
